.lt_category_l{
    width: 90px;
    height: 100%;
    float: left;
    position: relative;
}
.lt_category_l li{
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f3f4f5;
}
.lt_category_l li.now{
    border-right: none;
    background-color: #fff;
}
.lt_category_l li a{
    color: #666;
}

/*右侧*/
.lt_category_r{
    height: 100%;
    overflow: hidden;
    position: relative;
}
.lt_category_r li{
    width: 33.33%;
    float: left;
    text-align: center;
}
.lt_category_r li img{
    width: 62px;
    height: 62px;
    display: block;
    margin: 0 auto;
}
.lt_category_r .info{
    margin-left: 10px;
    margin-top: 10px;
}