@charset "utf-8";

.mt_150{
    margin-top: 150px;
}
.mb_15{
    margin-bottom: 15px;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.lt_main thead tr th,
.lt_main tbody tr td{
    text-align: center;
    vertical-align: middle;
}

/*登录界面*/
.lt_panel h4{
    text-align: center;
}

/*index页面*/
/*左侧*/
.lt_aside{
    width: 180px;
    height: 100%;
    background-color: #222d32;
    position: fixed;
    left: 0;
    transition: all 1s;
    z-index: 999;
}
.lt_aside.now{
    left: -180px;
}
.lt_aside .brand a{
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #337ab7;
}
.lt_aside .user{
    height: 150px;
}
.lt_aside .user img{
    display: block;
    width: 80px;
    height: 80px;
    margin: 30px auto 0;
    border-radius: 50%;
}
.lt_aside .user p{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.lt_aside .nav a{
    display: block;
    height: 40px;
    line-height: 40px;
    color: #ccc;
    padding-left: 30px;
    border: 3px solid transparent;
}
.lt_aside .nav a.now{
    background-color: #1d1f21;
    border-left-color: #367fa9;
    color: #fff;
}
.lt_aside .nav .child a{
    padding-left: 50px;
}
/*首页内容区*/
.lt_main{
    padding-left: 180px;
    transition: all 1s;
    padding-top: 70px;
}
.lt_main.now{
    padding-left: 0;
}
.lt_main .lt_header{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #3c8dbc;
    padding: 0 20px 0 200px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    transition: all 1s;
}
.lt_main .lt_header.now{
    padding-left: 20px;
}
.lt_header a{
    color: #fff;
    font-size: 20px;
}
.lt_content .pic_left,
.lt_content .pic_right{
    width: 45%;
    height: 400px;
}